In [1]:
# Instalação das bibliotecas
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Criação do DF
covid_summary = pd.read_csv(r"C:\Users\Marcelo Cabral\OneDrive\Documentos\Estudos\Data_Engineering\covid19-pipeline\data\raw\covid_summary_20251101_015113.csv")
covid_summary.dtypes

Entity          object
Code            object
Day             object
Weekly cases     int64
dtype: object

In [4]:
covid_summary.head()

        Entity Code         Day  Weekly cases
0  Afghanistan  AFG  2020-01-09             0
1  Afghanistan  AFG  2020-01-10             0
2  Afghanistan  AFG  2020-01-11             0
3  Afghanistan  AFG  2020-01-12             0
4  Afghanistan  AFG  2020-01-13             0

In [5]:
covid_summary.columns = [
    "Country",
    "Code",
    "Date",
    "Weekly Cases"
]

covid_summary.head()

       Country Code        Date  Weekly Cases
0  Afghanistan  AFG  2020-01-09             0
1  Afghanistan  AFG  2020-01-10             0
2  Afghanistan  AFG  2020-01-11             0
3  Afghanistan  AFG  2020-01-12             0
4  Afghanistan  AFG  2020-01-13             0