In [1]:
# Instalação das bibliotecas
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Criação do DF
covid_summary = pd.read_csv(r"C:\Users\Marcelo Cabral\OneDrive\Documentos\Estudos\Data_Engineering\covid19-pipeline\data\raw\covid_summary_20251101_015113.csv")
covid_summary.dtypes

Entity          object
Code            object
Day             object
Weekly cases     int64
dtype: object

In [4]:
covid_summary.head()

        Entity Code         Day  Weekly cases
0  Afghanistan  AFG  2020-01-09             0
1  Afghanistan  AFG  2020-01-10             0
2  Afghanistan  AFG  2020-01-11             0
3  Afghanistan  AFG  2020-01-12             0
4  Afghanistan  AFG  2020-01-13             0

In [5]:
covid_summary.columns = [
    "Country",
    "Code",
    "Date",
    "Weekly Cases"
]

covid_summary.head()

       Country Code        Date  Weekly Cases
0  Afghanistan  AFG  2020-01-09             0
1  Afghanistan  AFG  2020-01-10             0
2  Afghanistan  AFG  2020-01-11             0
3  Afghanistan  AFG  2020-01-12             0
4  Afghanistan  AFG  2020-01-13             0

In [17]:
cases_country = covid_summary.groupby("Country")["Weekly Cases"].sum()

exclude = [
    "Africa",
    "Asia",
    "Asia excl. China",
    "Europe",
    "European Union (27)",
    "High-income countries",
    "Low-income countries",
    "Lower-middle-income countries",
    "North America",
    "Oceania",
    "South America",
    "Upper-middle-income countries",
    "World",
    "World excl. China",
    "World excl. China and South Korea",
    "World excl. China, South Korea, Japan and Singapore",
    "Japan and Singapore",
]

filtered_data = cases_country[~cases_country.index.isin(exclude)]

sorted_covid_confirmed = filtered_data.sort_values(ascending=False)

print(sorted_covid_confirmed)

Country
United States    724057803
China            695672313
India            315393316
France           272982430
Germany          269064287
                   ...
Tokelau                560
Vatican                182
Pitcairn                28
North Korea              0
Turkmenistan             0
Name: Weekly Cases, Length: 233, dtype: int64

In [15]:
country = covid_summary["Country"]

country.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Asia excl. China',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union (27)',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania',
       'Russia', 'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'World excl. China',
       'World excl. China and South Korea',
       'World excl. China, South Korea, Japan and Singapore', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)